.card-img {
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
}

.container {
  display: flex;
  flex-direction: column;

  float: left;
  /* width: 20%; */
  padding: 2rem;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.img-care {
  width: 100%;
  opacity: 0.5;
  height: 100vh;
}
@media (max-width: 992px) {
  .img-care {
    display: none;
  }
}
.care-form {
  padding: 1rem;
}

.profile-pic {
  height: 8rem;
  width: 8rem;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.profile-a {
  display: flex;
  flex-direction: row;
  gap: 1.8rem;
  width: 45rem;
  height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  justify-content: center;
  padding: 1rem;
  border-radius: 1.5rem;
}
.profile-b {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 45rem;
  height: 12rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.profile-c {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 45rem;
  height: 15rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.profile-d {
  width: 45rem;
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 1.5rem;
}
.profile-e {
  width: 45rem;
  height: 10rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 1.5rem;
}
.profile-f {
  width: 45rem;
  height: 6rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1rem;
  border-radius: 1.5rem;
}
.people {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 20rem;
  height: 40rem;
  padding: 1rem;
}
.people:hover {
  cursor: pointer;
}
