.imgee {
  height: 100px;
  width: 120px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-top: 2rem;
}
.main-card {
  display: flex;
  gap: 4rem;
  justify-content: center;
  height: auto;
  margin-top: 2rem;
}
.rightDiv {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}
.info-sec {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 45rem;
}
.custom-rate .ant-form-item-label {
  font-size: 100px; /* Adjust the font size as per your requirements */
}
