.navbar-item {
  display: flex;
}
.list-item {
  display: flex;
  justify-content: center;
}
.auth-fun {
  display: flex;
  flex-direction: row;
  justify-items: end;
}
.page-3-main {
  display: flex;
  padding: 2rem;
  gap: 3rem;
}
.header-div3 {
  text-align: center;
  font-size: 2rem;
}
.right-image {
  border-radius: 1.5rem;
}

/* css of home1 */
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  position: relative; /* Ensure the relative positioning for the pseudo-element */
}
.back-image::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../assets/home-back.jpg");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2; /* Adjust the opacity value as needed */
  z-index: -1;
}
.joining-link {
  color: black;
}
.main-heading {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
}
.card {
  display: flex !important;
  height: 10rem;
  justify-content: center;
  align-items: center;
  flex-direction: column !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 16px;
  text-align: center;
  position: relative;
  cursor: pointer;
  padding: 10px 10px;
  /* margin-top: 3rem; */
}
.services-cards {
  display: flex;

  padding: 2rem;
}
.circle {
  position: absolute;
  font-size: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 35px;
  padding: 5px 10px 5px 10px;
  top: -25px;
  background-color: white;
}
.card:hover {
  z-index: 2.5;
  transform: scale(1.09);
}

/* Home2 */
.cat-image {
  width: 100%;
  height: 80vh;
}
.profile-body {
  padding: 1.6rem;
}
.info-part {
  display: flex;
  flex-direction: row;
}
@media (max-width: 992px) {
  .cat-image {
    display: none;
  }
}
/* Home 3
 */
@media (max-width: 768px) {
  .dps-image {
    display: none;
  }
  .header-div3 {
    font-size: 1.3rem;
  }
  .nd-head {
    font-size: 1.3rem;
  }
  .heading {
    font-size: 2rem;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }

  .mid-para {
    font-size: 1rem;
  }
}

@media (max-width: 576px) {
  .heading {
    font-size: 2rem;
  }

  .mid-para {
    font-size: 0.9rem;
  }

  .body-btn-info {
    font-size: 1rem;
  }
}
