.care-giver {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../assets/care-giver.jpg");
  background-size: cover;

  width: 22rem;
  height: 22rem;
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.job-content {
  margin-top: 6rem;
}
.job-seeker {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../../assets/D-PS--1.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  flex-direction: column;
  width: 22rem;
  height: 22rem;
  border: 1px solid black;
  border: none;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.cards {
  display: flex;

  justify-content: center;
  margin-top: 7rem;
  gap: 3rem;
}

.care-content {
  text-align: center;
  margin-top: 6rem;
}
